body, html *{
  background: green;
  font-size: 14;
}
p {
  font-variant-east-asian
}
h1 {
  font-variant-numeric: normal;
  font-size: 400%;
}
h2 {
  font-variant-alternates: normal;
  font-size: 300%;
}
h3 {
  font-variant-ligatures: normal;
  font-size: 200%;
}
.heading {
  font-weight: bolder;
}
#important {
  color: blue
  font-size: 200%
}
